.sunImage {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: auto;
  z-index: -20;
}
.mountainImage {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: auto;
  z-index: -100;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.5) 95%,
    transparent 100%
  );
}

.rainbowText {
  background-image: linear-gradient(
    to left,
    #ff75c3,
    #ffa647,
    #d6c900,
    #9fff5b,
    #70e2ff,
    #cd93ff
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .scrollAnimation {
  animation: imageScrollEffect linear;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
} */
.backgroundEffect1 {
  animation: float1 25s linear infinite;
  animation-direction: reverse;
}
.backgroundEffect2 {
  animation: float2 25s linear infinite;
}

@media (max-width: 600px) {
  .sunImage {
    height: auto;
    width: 130px;
  }
  .mountainWrapper {
    height: auto;
    width: 120px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .sunImage {
    height: auto;
    width: 150px;
  }
  .mountainWrapper {
    height: auto;
    width: 140px;
  }
}

@keyframes imageScrollEffect {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes float1 {
  0% {
    transform: translate(50vw, 0vh) scale(0.6);
  }
  25% {
    transform: translate(80vw, 50vh) scale(1);
  }
  50% {
    transform: translate(40vw, 80vh) scale(1.5);
  }
  75% {
    transform: translate(0vw, 40vh) scale(1);
  }
  100% {
    transform: translate(50vw, 0vh) scale(0.6);
  }
}
@keyframes float2 {
  0% {
    transform: translate(80vw, 10vh) scale(0.6);
  }
  25% {
    transform: translate(70vw, 80vh) scale(0.8);
  }
  50% {
    transform: translate(80vw, 10vh) scale(0.6);
  }
  75% {
    transform: translate(0vw, 0vh) scale(0.8);
  }
  100% {
    transform: translate(80vw, 10vh) scale(0.6);
  }
}
