.sunImage {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: auto;
  z-index: -20;
}
.mountainImage {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: auto;
  z-index: -20;
}

.rainbowText {
  background-image: linear-gradient(
    to left,
    #ff75c3,
    #ffa647,
    #ffe83f,
    #9fff5b,
    #70e2ff,
    #cd93ff
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .sunImage {
    height: auto;
    width: 130px;
  }
  .mountainImage {
    height: auto;
    width: 120px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .sunImage {
    height: auto;
    width: 150px;
  }
  .mountainImage {
    height: auto;
    width: 140px;
  }
}

@keyframes floating {
  from {
  }
  to {
  }
}
